.main {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #6ed3f4;
  
}

.ddl_holder {
  margin-left: 100px;
  margin-top: 50px;
}

.dropdown li {
  list-style-type: none;
  cursor: pointer;
}

.childtext {
  cursor: pointer;
}

.txt_basic {
  height: 26px;
  width: 200px;
  border-radius: 3px;
  border: 2px solid #656568;
}

.btn {
  height: 32px;
  border-radius: 3px;
  border: 2px solid #656568;
}

.dropdown {
  border: 2px solid #656568;
  border-radius: 5px;
  width: 150px;
  margin-left: 40px;
  background-color:#DDDDDD;
}

.childtext {
  font-family: Calibri;
  font-size: 18px;
  transition:all ease 300ms;
}

.litext {
  font-family: Calibri;
  font-size: 18px;
}

.childtext:hover{
  background-color:#4D4D50;
  color:#FFF;
}
.litext:hover{
  background-color:#4D4D50;
  color:#FFF;
}